.place__title {
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75 rem;
  max-width: 460px;
  margin: 0;
  grid-area: title;

}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 288px;
    font-size: 2.0rem;
    line-height: 35px;
    margin: auto 16px;
  }
}