.lead__title{
  width: 100%;
  max-width: 793px;
  font-weight: 900;
  font-size: 6rem;
  line-height: 100px;
  margin: 0 auto 32px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 100%;
    max-width: 720px;
    margin: 0 auto 99px;
  }
}
@media screen and (max-width: 600px) {
  .lead__title {
  font-size: 5rem;
  line-height: 5.3125rem;
  }
}

@media screen and (max-width: 460px) {
  .lead__title {
   font-size: 3.75rem;
    line-height: 3.625rem;
  }
}

@media screen and (max-width: 320px) {
    .lead__title {
      max-width: 288px;
      font-size: 2.5rem;
      margin: 0 auto 60px;
    }
}