.lead__image{
  max-width: 100%;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin: 0;
  }
}