.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 190px;
  height: 16px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0 auto 24px;
}