.frame {
  background-color: #0278FE;
  border-radius: 4px;
  height: 48px;
  width: 355px;
  color: #fff;
  font-style: normal;
  margin: 0;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.35rem;
  display: flex;
  align-items: center;
  transition: opacity 0.3s linear;
  justify-content: center;
  grid-area: frame;
  z-index: 1;
}

.frame:hover {
  background-color: #0063D2;
  cursor: pointer;
  z-index: 1;
}

.cover > .frame {
  width: 198px;
}


@media screen and (max-width: 320px) {
  .frame {
    max-width: 288px;
    font-size: 14px;
    margin: 0 auto;
  }
}