.intro__title {
  max-width: 1017px;
  font-weight: 900;
  width: 100%;
  font-size: 3.375rem;
  line-height: 3.625rem;
  margin: 0 0 40px;
  text-align: start;
}


@media screen and (max-width: 768px) {
  .intro__title {
    height: 232;
    width: 720px;
    align-items: flex-start;
    text-align: start;
    margin: 0;
  }
}