.intro__title {
  max-width: 1017px;
  font-weight: 900;
  width: 100%;
  font-size: 3.375rem;
  line-height: 3.625rem;
  margin: 0 0 40px;
  text-align: start;
}


@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    font-size: 2rem;
    line-height: 35px;
    margin: 0;
  }
}